/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .nav-item .nav-link {
        text-align: center;
    }
    .nav-item:hover {
        background: #333;
        color: white !important;
        border-radius: 5px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .nav-item .nav-link {
        text-align: center;
    }
    .nav-item:hover {
        background: #333;
        color: white !important;
        border-radius: 5px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .nav-item:hover {
        background: none;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}